@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    display: flex;
}

.intro{
    background-image: url(you-share-banner.jpg);
    background-size: cover;
    background-position: 0em;
    padding: 20px;
   
}

.intro-content{
    width: 100%;
    flex-direction: column;   
    min-width: 350px;
    align-items: baseline;
    justify-content: space-between;
}

#last-opportunities{
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    float: right;;
}

.opportunities{
    margin: 10px;
    padding: 10px;
    box-shadow: 0 10px 40px rgba(30, 231, 198, 0.12); 
    border: 1px solid rgba(30, 231, 198, 0.281);  
    overflow: hidden;
    width: auto;
    min-height: 150px;

}

.opportunities img{
    width: 80px;      
}

#content{
    display: flex;
    flex-direction: column;
    margin: 8px 8px 0 32px;
    justify-content: left;
}

h1 a{
    color: rgba(7, 26, 26, 0.842);
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

h1 a:hover{
    color: white;
    font-size: 25px;
}

p{
    font-size: 14px;
    opacity: 0.8;
    padding-bottom: 8px;
    color: rgba(2, 8, 8, 0.9);
}

.description{
    font-size: 14px;
    padding-bottom: 8px;
    color: rgba(13, 139, 139, 0.9);
}

#content a{
    margin-left: auto;
    padding-top: auto;
    cursor: pointer;
    border: none;
    background-color: #6199b3;
    color: white;
    font-weight: bold;
    padding: 8px;
    font-size: 14px;
    border-radius: 15px;
    width: 150px;;
    justify-content: center;
}

#content a:hover{
    color: #6199b3;
    background-color: white;
    transition: 500ms;
    border: 2px solid #6199b3;
}


@media (max-width: 900px){

    .intro{
        background-position: 0em;
        min-height: 350px;
        background-size: cover;
        transition: 800ms;
    }
  
    
    #container{
        display: flex;
        flex-direction: column;    
    } 

    .opportunities{
        margin: 0 10px 0 10px;
        margin-bottom: 1%;
    }

    #modal{
        position: absolute;
        min-width: 100vw;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

@media(min-width:1200px){
    body{
        margin: 0 auto 0 auto;
    }

    #last-opportunities{
        max-width: 800px;
    }
}

button{
    cursor: pointer;
    border: none;
    background-color: #6199b3;
    color: white;
    font-weight: bolder;
    height: 50px;
    padding: 0 3% 0 3%;
    border-radius: 33px;
    justify-content: center;    
}

.buttons{
    padding: 0;  
    flex-direction: row;
    width: 100%;
    justify-content: space-between; 
    

}

button:hover{
    color: #6199b3;
    background-color: white;
    transition: 500ms;
}

/*--------------------------------MODAL----------------------------------------------*/

#modal{
    background-color: #2ebbaf;
    width: 450px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.content{
    flex-direction: column;
    width: 100%; 
}

form{
    flex-direction: column;
    padding: 5%;
    width: -webkit-fill-available;
}

h1{
    padding: 10px;
    margin: 10px;
    font-size: 28px;
    color: #05090ac7;
}

.input-wrapper{
    flex-direction: column;
    padding-bottom: 10px;

}

button{
    align-items: flex-start;
}

.modal-header{
    flex-direction: row;
}

#back{
    width: 20px;
    padding: 20px;
    align-items: flex-end;
    cursor: pointer;
}

#back:hover{
    width: 25px;
}

.btn-form{
    width: 100%;
    justify-content: space-between;
}

.btn-none{
    background-color: #2ebbafde;
    border: 1px solid white;
}

.btn-none:hover{
    background-color: #6199b3;
    color: white;
}

.btn-form button{
    min-width: 100px;;
}

#modal.hide{
    display: flex;
}
